.container{
    width: 100%;
    height: 2200rpx;
    background-image: url("http://1.116.141.149/imgs/background.png");
    background-size: 100%;
    .contentcontainer{
        position: relative;
        width: 600rpx;
        height: 600rpx;
    }
}

.day{
    width: 100rpx;
}

.one{
    position: absolute;
    top: 180rpx;
    left: 380rpx;
}

.two{
    position: absolute;
    top: 380rpx;
    left: 340rpx;
}

.three{
    position: absolute;
    top: 580rpx;
    left: 340rpx;
}

.four{
    position: absolute;
    top: 700rpx;
    left: 520rpx;
}

.five{
    position: absolute;
    top: 880rpx;
    left: 300rpx;
}

.six{
    position: absolute;
    top: 1150rpx;
    left: 220rpx;
}

.seven{
    position: absolute;
    top: 1280rpx;
    left: 480rpx;
}

.eight{
    position: absolute;
    top: 1500rpx;
    left: 300rpx;
}

.nine{
    position: absolute;
    top: 1800rpx;
    left: 300rpx;
}

.ten{
    position: absolute;
    top: 2000rpx;
    left: 500rpx;
}